.close-button {
  align-self: flex-end;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 10px;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 320px;
  width: 300px;
  background-color: #ffffff;
  margin-top: 20px;
  margin-right: 14px;
}

.rules-button {
  font-family: Bree Serif;
  color: #223a5f;
  border: none;
  outline: none;
  background-color: #ffffff;
  border-radius: 6px;
  height: 40px;
  width: 100px;
  margin-top: 20px;
  font-size: 18px;
  align-self: flex-end;
  margin-right: 10px;
  margin-bottom: 10px;
}

.rules-image {
  height: 240px;
  width: 280px;
}

.play-agian-button {
  font-family: Bree Serif;
  color: #223a5f;
  border: none;
  outline: none;
  background-color: #ffffff;
  border-radius: 10px;
  height: 40px;
  width: 170px;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.game-result-text {
  font-family: Roboto;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 0px;
  font-size: 28px;
}

.play-again-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.game-results-person-name {
  font-family: Roboto;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}

.game-results-my-choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.game-results-card-containers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.game-results-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  margin-top: 50px;
}

.list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 400px;
  list-style-type: none;
  padding-left: 0px;
}

.button-styling {
  font-family: Roboto;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.images-style {
  height: 140px;
  width: 140px;
}

.play-view-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.play-view-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #223a5f;
  width: 100%;
}

.score-count-value {
  font-family: Roboto;
  color: #223a5f;
  font-size: 40px;
  font-weight: 600;
  margin-top: 0px;
}

.sub-header {
  font-family: Roboto;
  color: #223a5f;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0px;
}

.navbar-score-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

.navbar-header {
  font-family: Bree Serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 900;
  line-height: 1.5;
}

.navbar-container {
  height: 120px;
  width: 96%;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  margin-bottom: 80px;
}

.playing-view-container {
  min-height: 100vh;
  max-height: auto;
  min-width: 100vw;
  max-width: auto;
  background-color: #223a5f;
  display: flex;
  flex-direction: column;
  align-items: center;
}
